.container1 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 32px;
    // border: 1px solid green;

    flex-direction: column;
    background-color: #7453F0;

    .container__top {
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: row;

        h1 {
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            word-spacing: 7px;
            letter-spacing: 0.1px;
            font-family: var(--font-base);
            font-family: 'Nunito', sans-serif;
            text-align: center;
            color: var(--white-color);

            svg {
                color: #FFD43B;
                // font-size: 60px;
            }
        }

    }
}

.container__bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
    // border: 1px solid white;
    width: 1200px;
    margin-top: 15px;
    padding: 10px;

    

    .container__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        // border: 1px solid white;
        // width: 350px;


        .item__img{
            width: 160px;
            // border: 1px solid white;
            img{
                width: 100%;
            }

        }
        .container__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 18px;


            h1{
                font-size: 22px;
                // line-height: 80px;
                font-weight: 800;
                word-spacing: 5px;
                letter-spacing: 0.1px;
                font-family: 'Nunito', sans-serif;
                text-align: center;
                color: #FFD43B;
                
            }
            p{
                font-size: 13px;
                text-align: center;
               
                font-weight: 600;
                
                letter-spacing: 1px;
                text-align: center;
                color: var(--black-color);
                color: var(--white-color);
                
                font-family: 'Nunito', sans-serif;
                // font-family: 'Poppins', sans-serif;
            }
        }
    }
}
